@import url('https://fonts.googleapis.com/css?family=Exo:700');
@import url('https://fonts.googleapis.com/css?family=Abel');



.devMess{
   font-family: 'Abel', sans-serif;
}

.descriptionItems {
  font-family: 'Abel', sans-serif;
  display: block;
  color: white;
  text-align:center;
  width:150px;
  height: 20px;
  transform: translatex(12px);
}

.itemTitle {
    color: white;
    margin: 0 4px auto;

}

.torch {
  text-align:center;
  display: inline;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 120px;
  background: #2C3A47;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
  border: solid 2px white;
}

.torch img{
  transform: translateY(15px);
  width:60px;
  height:60px;
}

.staff {
  text-align:center;
  display: inline;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  margin-left: 10px;
  background: #2C3A47;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
  border: solid 2px white;
}

.staff img{
  transform: translateY(15px);
  width:60px;
  height:60px;
}